@mixin btn-menu {
    position: relative;
    text-decoration: none;
    color: rgb(255, 253, 253);
    transition: 0.3s; 
    :hover {
        transition: 0.3s;
        color: $primary-color;
    }
    :after {
        content: "";
        position:absolute;
        background: $primary-color;
        height: 2px;
        width: 100%;
        top: 100%;
        left: 0;
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: right;
    }
      :hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}
