.icon {
    color: rgb(117, 117, 113);
    width: 33px;
    height: 33px;
    border-radius: 33px;
    text-align: center;
    padding-top: 6px;
    margin: 7px 5px 0 0;
    border: 2px solid $primary-color;
}

